.is-style-bizenta-header-one-light-phone {
    display: flex;
    justify-content: right;
}

@media screen and (max-width: 780px) {
    .is-style-bizenta-header-one-light-phone {
        display: none;
    }
}

@media screen and (min-width: 781px) {
    .bizenta-header-one-light-phone {
        justify-content: right;
    }
}

.bizenta-header-one-light-phone-inner {
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 58px !important;
    padding-right: 0 !important;
    position: relative;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='52px' height='52px' viewBox='0 0 56 56'%3E%3Cpath fill='%23000' d='M28 51.906c13.055 0 23.906-10.851 23.906-23.906c0-13.078-10.875-23.906-23.93-23.906C14.899 4.094 4.095 14.922 4.095 28c0 13.055 10.828 23.906 23.906 23.906m-6.117-18.07c-5.813-5.79-9.516-13.172-5.133-17.555c.258-.258.539-.515.797-.773c1.336-1.266 2.625-1.195 3.773.422l3.047 4.336c1.031 1.5.773 2.343-.328 3.515l-.961 1.055c-.351.328-.21.773-.047 1.055c.446.843 1.711 2.343 3.07 3.703c1.407 1.406 2.836 2.601 3.727 3.093c.328.188.797.235 1.102-.046l1.007-.961c1.125-1.102 2.04-1.383 3.493-.352a319 319 0 0 0 4.43 3.094c1.476 1.078 1.827 2.414.327 3.773c-.257.258-.492.54-.75.797c-4.382 4.36-11.742.656-17.554-5.156'/%3E%3C/svg%3E") left center no-repeat;
}

.bizenta-header-one-light-phone-inner > p {
    margin: 0 0 7px 0;
    line-height: 1;
}

.bizenta-header-one-light-phone-inner > p:nth-child(1) {
    font-size: var(--wp--preset--font-size--small);
}

.bizenta-header-one-light-phone-inner > p:nth-child(2) {
    margin: 0;
    margin-block-start: 0;
    font-size: var(--wp--preset--font-size--medium-2);
    font-weight: 700;
}

.bizenta-header-one-light-phone-alt {
    margin-block-start: 0;
    margin: 0 !important;
    padding-right: var(--wp--style--root--padding-right);
    padding-left: var(--wp--style--root--padding-left);
    padding-top: 7px;
    padding-bottom: 7px;
    color: var(--wp--preset--color--contrast);
    background-color: var(--wp--preset--color--base-5);
}

@media screen and (min-width: 781px) {
    .bizenta-header-one-light-phone-alt {
        display: none;
    }
    .block-editor-iframe__html .bizenta-header-one-light-phone-alt {
        display: block;
    }
}
