<!-- wp:template-part {"slug":"header","area":"header","tagName":"header"} /-->

<!-- wp:group {"align":"full","className":"is-style-bizenta-y70-a3","layout":{"type":"constrained"}} -->
<div class="wp-block-group alignfull is-style-bizenta-y70-a3">

    <!-- wp:post-title {"align":"wide","className":"is-style-zypento-page-heading"} /-->

</div>
<!-- /wp:group -->

<!-- wp:group {"layout":{"type":"constrained"}} -->
<div class="wp-block-group is-style-bizenta-y60">

    <!-- wp:post-content {"align":"wide"} /-->

</div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","area":"footer","tagName":"footer"} /-->
